
@{
    ViewBag.Title = "APSmini";
}

<div class="row">
    <div class="col-md-2 col-lg-2"></div>
    <div class="col-md-8 col-lg-8 container-fluid">
        <h3>BOM<button class="btn btn-primary" style="float:right; border-radius:0px; margin-left:3px;">Search</button><input type="text" class="form form-control" id="searchBOM" name="serachBOM" style="float:right; width:150px; border-radius:0px;" /></h3>
      
        <hr />
        <div class="row" id="BomContainer">
            <!--내용 Container-->
        </div>
    </div>
    <div class="col-md-2 col-lg-2"></div>
</div>

<script>
    $(document).ready(function () {
           
    });
</script>
