
@{
    ViewBag.Title = "Capacity";
}

<div class="row">
    <div class="col-md-2 col-lg-2"></div>
    <div class="col-md-8 col-lg-8 container-fluid">
        <h3>Capacity</h3>
        <hr />
        <div class="row" id="CapacityContainer">
            <!--내용 Container-->
        </div>
    </div>
    <div class="col-md-2 col-lg-2"></div>
</div>

