
@{
    ViewBag.Title = "APSmini";
}
<style>

    label.error {
        color: red;
    }

    input.error {
        border-color: #ff0000;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    select.error {
        border-color: #ff0000;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    input.error:focus {
        border-color: #ff0000;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c35e5e;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c35e5e;
    }

    select.error:focus {
        border-color: #ff0000;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c35e5e;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c35e5e;
    }

    @@media (min-width: 400px) and (max-width: 1800px) {
        table tbody {
            max-height: 520px;
        }
    }

    @@media (min-width: 1800px) and (max-width: 2400px) {
        table tbody {
            max-height: 730px;
        }
    }

    thead tr {
        width: 100%;
    }

    table tbody {
        display: block;
        overflow-y: scroll;
    }

        table thead, table tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div class="row">
    <div class="col-md-2 col-lg-2"></div>
    <div class="col-md-8 col-lg-8 container-fluid">
        <!--Header-->
        <h3>
            Order
            <button data-target="#myModal" data-toggle="modal" class="btn btn-success" style="float:right; margin-right:5px;" id="orderDashBoardInfo" name="orderDashBoardInfo" onclick="alert('준비중 입니다.');"><i class="fa fa-tag"></i></button>
            <button data-target="#" data-toggle="modal" class="btn btn-danger" style="float:right; margin-right:5px;" id="deleteProduct" name="deleteProduct" onclick="removeOrder();">삭제</button>
        </h3>
        <!--Header-->
        <hr />
        <div class="row">
            <div class="col-12">
                <!--Group-->
                <input type="text" class="form-control" name="name" style="width:150px; display:inline-block;" id="Startdatepicker" onchange="DisplayOrder();" value="" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-ellipsis-h"></i>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" class="form-control" name="name" style="width:150px; display:inline-block;" id="Finishdatepicker" onchange="DisplayOrder();" value="" />
                <!--Group-->
                <!--SubGroup-->
                <h5 style="width:290px; display:inline-block"></h5>
                <!--SubGroup-->
            </div>
            <div class="col-3">
            </div>
            <div class="col-3">
            </div>
        </div>
        <hr />
        <div class="row container-fluid" id="ProductContainer" style="">
            <!--Product 리스트 테이블-->
            <table class="table table-striped table-bordered table-hover header-fixed" id="OrderLst" name="OrderLst" style="text-align:center;">
                <thead>
                    <tr>
                        <th width="10%">Product</th>
                        <th width="15%">Description</th>
                        <th width="10%">Lot Size</th>
                        <th width="15%">Routing</th>
                        <th width="10%">Start Date</th>
                        <th width="10%">Due Date</th>
                        <th width="5%">Critical</th>
                        <th width="15%">Note</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <!--Product 리스트 테이블-->
        </div>
    </div>
    <div class="col-md-2 col-lg-2"></div>
</div>
<table id="exceltable"></table>
<!--WorkStation Info-->
<div class="modal fade" id="changeOrderModal" tabindex="-1" role="dialog" aria-labelledby="Warning-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Order Number # <span id="orderNumber"></span></h4>
            </div>
            <div class="modal-body">
                <form id="form-changeOrderModal">
                    <div class="form-group">
                        <div class="form-inline">
                            <label for="productNumber">Product Number&nbsp; : &nbsp;</label>
                            <input type="number" class="form-control" name="productNumber" id="productNumber" placeholder="Enter Product Number" required readonly>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:5px;">
                        <div class="form-inline">
                            <label for="lotSize">Lot Size &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;</label>
                            <input type="number" class="form-control" name="lotSize" id="lotSize" placeholder="Enter Lot Size" required>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:5px;">
                        <div class="form-inline">
                            <label for="lotSize">Start Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;</label>
                            <input type="text" class="form-control" name="ModalstartDate" id="ModalstartDate" placeholder="Select Start Date" required>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:5px;">
                        <div class="form-inline">
                            <label for="lotSize">End Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;</label>
                            <input type="text" class="form-control" name="ModalendDate" id="ModalendDate" placeholder="Select Due Date" required>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:5px;">
                        <div class="form-inline">
                            <label for="lotSize">Critical Ratio &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;</label>
                            <select class="custom-select" id="criticalRatio">
                                <option style="background-color:green;" value="0">Low</option>
                                <option style="background-color:orange;" value="1">Middle</option>
                                <option style="background-color:red;" value="2">High</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:20px;">
                        <div class="form-inline">
                            <label for="productNumber">Allow WorkStation Group &nbsp; : &nbsp;</label>
                            <input type="checkbox" class="form-control" id="allowWorkStationGroup" placeholder="Enter Product Number">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal" onclick="closeOrderModal();">Close</button>
                <button type="button" class="btn btn-primary" onclick="return updateOrder();">Save</button>
            </div>
        </div>
    </div>
</div>

<!--WorkStation Info-->
<script>
    $(document).ready(function () {

        // validation for form
        $('form').validate({
            rules: {
                productNumber: {
                    required: true,
                    digits: true,
                    minlength: 1
                },
                lotSize: {
                    required: true,
                    minlength: 1
                },
                ModalstartDate: {
                    required: true
                },
                ModalendDate: {
                    required: true
                },
            },
            messages: {
                productNumber: {
                    required: "",
                    digits: "",
                    minlength: ""
                },
                lotSize: {
                    required: "",
                    minlength: ""
                },
                ModalstartDate: {
                    required: ""
                },
                ModalendDate: {
                    required: ""
                },
            }
        });

        // set date picker value to '2018-01-01' 
        var startDate = '2018-01-01';
        startDate = $.datepicker.parseDate('yy-mm-dd', startDate);
        $('#Startdatepicker').datepicker({
            dateFormat: 'yy-mm-dd'
        });

        // set date picker value to +30 Days from 'Today'
        $('#Startdatepicker').datepicker('setDate', startDate);
        var now = new Date();
        now.setDate(now.getDate() + 30);
        var endDate = $.datepicker.formatDate('yy-mm-dd', now);
        $('#Finishdatepicker').datepicker({
            dateFormat: 'yy-mm-dd'
        });
        $('#Finishdatepicker').datepicker('setDate', endDate);

        // Modal Datepicker
        $('#ModalstartDate').datepicker({
            dateFormat: 'yy-mm-dd'
        });
        $('#ModalendDate').datepicker({
            dateFormat: 'yy-mm-dd'
        });

        // Show All Order List
        DisplayOrder();

        // bind click event to tr
        $('#OrderLst').bind('click', function (e) {
            $(e.target).closest('tbody > tr').children('td,th').toggleClass('table-danger');
        })
    });

    // update order data
    function updateOrder() {
        var productNumber = $('#productNumber').val();
        var lotSize = $('#lotSize').val();
        var startDate = $('#ModalstartDate').val();
        var endDate = $('#ModalendDate').val();
        var criticalRatio = $('#criticalRatio').val();
        var allowWorkStationGroup = 0;
        var oid = $('#orderNumber').html();
        var count = 0;

        if ($('#productNumber').valid() == false) {
            count++;
        }
        if ($('#lotSize').valid() == false) {

            count++;
        }
        if ($('#ModalstartDate').valid() == false) {

            count++;
        }
        if ($('#ModalendDate').valid() == false) {

            count++;
        }
        if (count > 0) {

            return false;
        }
        if ($('#allowWorkStationGroup').is(":checked") == true) {
            allowWorkStationGroup = 1;
        }

        var data = "{GroupUID : \"" + @Session["GroupUID"]  + "\", LotSize : \"" + lotSize + "\", StartDate: \"" + startDate + "\", EndDate : \"" + endDate + "\", CriticalRatio : \"" + criticalRatio + "\", UserName : \"" + "@Session["UserName"]" + "\", AllowWorkStationGroup : \"" + allowWorkStationGroup +  "\"}";
        // Update order data
        $.ajax({
            type: "POST",
            url: "/api/Order/" + oid,
            contentType: 'application/json; charset=utf-8',
            data: data,
            dataType: "json",
            success: function (response) {
                $('#closeModal').click();
            }
        });
    }

    // close order info Modal
    function closeOrderModal() {
        $('#allowWorkStationGroup').prop('checked', false);
        $('#form-changeOrderModal').validate().resetForm();
        $('#OrderLst').find("tr:gt(0)").remove();
        DisplayOrder();
    }

    // Display Order Lst
    function DisplayOrder() {

        // Get All Selceted Index
        $('#OrderLst').find("tr:gt(0)").remove();
        var start = $('#Startdatepicker').val();
        var end = $('#Finishdatepicker').val();

        // api/Order + "GET"
        $.ajax({
            type: "GET",
            url: "/api/Order/" + @Session["GroupUID"] + "/" + start + "/" + end,
            dataType: "json",
            success: function (response) {
                $.each(response, function (key, value) {
                    var data = "<tr><td width=\"10.2%\"  id=\"" + value.OId + "\">" + value.ProductNumber + "</td>";
                    data += "<td width=\"15.2%\">" + value.Description + "</td>";
                    data += "<td width=\"10.2%\"> " + value.LotSize + "</td>";
                    data += "<td width=\"15.2%\">" + value.RoutingName + "</td>";

                    var startDate = new Date(value.StartDate);
                    startDate.setDate(startDate.getDate() + 1);
                    startDate =  startDate.toISOString().slice(0, 10);
                    data += "<td width=\"10.2%\">" + startDate + "</td>";

                    var endDate = new Date(value.EndDate);
                    endDate.setDate(endDate.getDate() + 1);
                    endDate = endDate.toISOString().slice(0, 10);
                    data += "<td width=\"10.2%\"> " + endDate + "</td >";

                    var CriticalRatio;
                    if (value.CriticalRatio == 0) {
                        CriticalRatio = "Low";
                    } else if (value.CriticalRatio == 1) {
                        CriticalRatio = "Middle";
                    } else {
                        CriticalRatio = "High";
                    }

                    data += "<td width=\"5.2%\"> " + CriticalRatio + "</td >";
                    data += "<td width=\"14.1%\"><input type='text' class='form-control' id='i" + value.OId + "' style='height:30px;' value='"+ value.Note + "'></td >";
                    data += "</tr>";
                  
                    $('#OrderLst').append(data);
                    $('#i' + value.OId).focusout(function () {
                        var data = { script : $('#i' + value.OId).val().toString()};
                        if ($('#i' + value.OId).val().toString() < 1) {
                            data = { script : "null" };
                        }
                        var OId = parseInt(value.OId);

                        // Put Order Data to DB
                        $.ajax({
                            type: "PUT",
                            url: "/api/Order/" + OId,
                            contentType: 'application/json; charset=utf-8',
                            data: JSON.stringify(data),
                            dataType: "json",
                            success: function (response) {

                            }
                        });
                    });

                    $('#' + value.OId).parent("tr").dblclick(function (e) {

                        $('#orderNumber').html(value.OId);
                        $('#productNumber').val(value.ProductNumber);
                        $('#lotSize').val(value.LotSize);

                        // -- Start Date Datepicker
                        startDate = $.datepicker.parseDate('yy-mm-dd', startDate);
                        $('#ModalstartDate').datepicker({
                            dateFormat: 'yy-mm-dd'
                        });
                        $('#ModalstartDate').datepicker('setDate', startDate);
                        // -- End Date Datepicker
                        // -- Start Date Datepicker
                        endDate = $.datepicker.parseDate('yy-mm-dd', endDate);
                        $('#ModalendDate').datepicker({
                            dateFormat: 'yy-mm-dd'
                        });
                        $('#ModalendDate').datepicker('setDate', endDate);
                        // -- End Date Datepicker
                       
                        $('#criticalRatio').val(value.CriticalRatio);
                        if (value.AllowWorkStationGroup == 1) {
                            $('#allowWorkStationGroup').prop('checked', true);
                        }

                        $('#allowWorkStationGroup').val(value.ProductNumber);
                        $('#changeOrderModal').modal('toggle');
                    });
                })
            }
        });
    }

    // remove order 
    function removeOrder(e) {
        if (confirm('정말 삭제하시겠습니까? 삭제한 주문은 되돌릴 수 없습니다.')) {
            var flag = true;
            $('#OrderLst').find('tbody > tr > td:first-child.table-danger').each(function () {
                flag = false;
                var id = $(this).attr('id');
                $.ajax({
                    type: "DELETE",
                    url: "/api/Order/" + id,
                    data: "name=John&location=Boston",
                    dataType: "json",
                    success: function (data, statusText) {
                    },
                    error: function (request, textStatus, error) {

                    }
                });
            });

            if (flag == true) {
                alert('주문을 선택해주세요.');
            } else {
                DisplayOrder();
            }
        }
    }
</script>