
@{
    ViewBag.Title = "APSmini";
}

<div class="row">
    <div class="col-md-2 col-lg-2"></div>
    <div class="col-md-8 col-lg-8 container-fluid">
        <h3>
            Schedule
            <button data-target="#createScheduleModal" data-toggle="modal" class="btn btn-danger" style="float:right;" id="createSchedule" name="createSchedule"><i class="fa fa-paperclip"></i></button>
        </h3>
        <hr />
        <div class="row" id="ScheduleContainer">
            <!--내용 Container-->
        </div>
    </div>
    <div class="col-md-2 col-lg-2"></div>
</div>

<div class="modal fade" id="createScheduleModal" tabindex="-1" role="dialog" aria-labelledby="Warning-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Create Schedule</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label for="productNumber">Product Number : &nbsp;</label>
                        <input type="number" class="form-control" id="productNumber" placeholder="Enter Product Number">
                    </div>
                    <div class="form-group" style="margin-top:5px;">
                        <label for="lotSize">Lot Size&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;</label>
                        <input type="number" class="form-control" id="lotSize" placeholder="Enter Lot Size">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>

<script>

</script>

